@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

pre{    line-height: 10px;
    font-size: 18px;
    color: darkorange;
    overflow-y: hidden;
	background: dimgrey;
}